{% load static %}
<html>
<title>Bonjour Meal: Checkout</title>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

    <nav>
        <div class="nav-wrapper light-blue darken-4">
            <a href="#" class="brand-logo">&nbsp;Bonjour Meal</a>
        </div>
    </nav>

    <div class="card-panel grey lighten-4">
        <p><b>Thank you!</b></p>
    </div>

</body>
</html>